@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@fontsource/montserrat/700.css"; /* SemiBold */
@import "@fontsource/montserrat/900.css"; /* ExtraBold */


body {
  @apply bg-smokeWhite text-gray-800 font-sans;
}

button {
  @apply bg-dropsGreen hover:bg-dropsDark text-white font-semibold rounded-lg px-4 py-2 transition-all;
}

